.bb, .bb::before, .bb::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.bb {
  width: 400px;
  height: 400px;
  margin: auto;
  background: url("http://farhanport.weebly.com/uploads/6/0/5/0/60502421/logomakr-6ncfzb_orig.png") no-repeat 50%/70% rgba(0, 0, 0, 0.1);
  color: black;
  box-shadow: inset 0 0 0 30px rgba(0, 0, 0, 0.2);
}
.bb::before, .bb::after {
  content: '';
  z-index: -1;
  margin: -5%;
  box-shadow: inset 0 0 0 2px;
  animation: clipMe 8s linear infinite;
}
.bb::before {
  animation-delay: -4s;
}
.bb:hover::after, .bb:hover::before {
  background-color: black;
}

@keyframes clipMe {
  0%, 100% {
    clip: rect(0px, 440px, 2px, 0px);
  }
  25% {
    clip: rect(0px, 2px, 440px, 0px);
  }
  50% {
    clip: rect(438px, 440px, 440px, 0px);
  }
  75% {
    clip: rect(0px, 440px, 440px, 438px);
  }
}
html,
body {
  height: 100%;
}

body {
  position: relative;
  background-color: lightgray;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
ghfhhfhghu
